{% extends 'main/user/base.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block application %}

<style>
  #map{
    position: relative;
    /* top: 200px;
    left: 100px; */
  }
</style>

<!-- <div class="template-div" > -->
  <div>
    {% if user_application_len == 0 %}
        <!-- <button type="submit" class="btn btn-primary">создать заявку на релокацию</button> -->
        <br>
            <div>
              <form method="post" action="{% url 'newUserApplication' %}">
                {% csrf_token %}
                    <table class="table table-hover" style="width: 100%; ">
                        <thead>
                            <tr>
                                <th>Выбор</th>
                                <th>Страна</th>
                                <th>Город</th>
                                <th>Описание</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in locations %}
                                <tr>
                                    <td>
                                        <input type="radio" name="selected_location" value="{{ location.id }}" onclick="" onchange="updatePlacemark([{{location.latitude}}, {{location.longitude}}])">
                                    </td>
                                    <td>{{ location.country }}</td>
                                    <td>{{ location.city }}</td>
                                    <td>{{ location.description }}</td>
                                    <!-- <td>{{ location.latitude }}</td>
                                    <td>{{ location.longitude }}</td> -->
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary" style="">Подтвердить</button>
                </form>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 500px; margin-top: 0;">
              <div id="map" style="width: 50%; height: 50%; position: absolute; top:300px"></div>
            </div>

            <script src="https://api-maps.yandex.ru/2.1/?apikey=1c863c16-81b2-4b8f-be71-2007755b1fca&lang=ru_RU" type="text/javascript"></script>        
            <script type="text/javascript">
              function updatePlacemark(coordinates) {
                console.log(coordinates);
                coordinates[0] += coordinates[1] / 100;
                coordinates[1] = coordinates[2] + coordinates[3] / 100;
                console.log(coordinates);
                placemark.geometry.setCoordinates(coordinates);
              }
                ymaps.ready(function () {
                    var myMap = new ymaps.Map('map', {
                            center: [53.90, 27.56],
                            zoom: 5.5
                        }, {
                            searchControlProvider: 'yandex#search'
                        });
                    var myPlacemark = new ymaps.Placemark([53.91, 27.56], {
                            hintContent: '{{ city.name }}',
                            balloonContent: '{{ city.description }}'
                        }, {
                            preset: 'islands#icon',
                            iconColor: '#0095b6'
                        });
                    window.placemark = myPlacemark;
                    myMap.geoObjects.add(myPlacemark);
                });
            </script>
    {% else %} 

    <style>
        h1 {
            position: absolute;
            top: 40%;
            left: 220;
            width: 100%;
        }
        .content-div{
        width: 1536px;
        height: 633px;
    
        .nav-item{
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 15px;
            pointer-events: none;
        }
        .nav-link {
          border-radius: 50%;
          width: 45px;
          height: 45px;
          line-height: 30px;
          text-align: center;
        }
        .container{
          width: 2000px;
        }
        .progress {
        position: relative;
        }
    }
    </style>

    <div class="container">
		<div class="row">
		  <div class="col-md-12" >
			<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
			  <li class="nav-item" role="presentation">
				<a class="nav-link" id="pills-step1-tab" data-toggle="pill" href="#pills-step1" role="tab" aria-controls="pills-step1" aria-selected="true">1</a>
			  </li>
			  <li class="nav-item" role="presentation">
				<a class="nav-link" id="pills-step2-tab" data-toggle="pill" href="#pills-step2" role="tab" aria-controls="pills-step2" aria-selected="false">2</a>
			  </li>
			  <li class="nav-item" role="presentation">
				<a class="nav-link" id="pills-step3-tab" data-toggle="pill" href="#pills-step3" role="tab" aria-controls="pills-step3" aria-selected="false">3</a>
			  </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-step4-tab" data-toggle="pill" href="#pills-step3" role="tab" aria-controls="pills-step3" aria-selected="false">4</a>
        </li>
			</ul>
			<div class="progress mb-3">
			  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="tab-content" id="pills-tabContent">
			  <div class="tab-pane fade show active" id="pills-step1" role="tabpanel" aria-labelledby="pills-step1-tab">
				
			  </div>
			  <div class="tab-pane fade" id="pills-step2" role="tabpanel" aria-labelledby="pills-step2-tab">
				
			  </div>
			  <div class="tab-pane fade" id="pills-step3" role="tabpanel" aria-labelledby="pills-step3-tab">
				
			  </div>
			</div>
		  </div>
		</div>
    <p>1. Ваша заявка отправлена, ожидайте ответа HR</p>
    <p>2. Назначено собеседование</p>
    <p>3. Собеседование пройдено. Отправьте необходимые документы</p>
    <p>4. Релокация завершена</p>
	  </div>

    <script>
		document.addEventListener("DOMContentLoaded", function(event) {
		var status = "{{ status }}";
		var progressBar = document.querySelector(".progress-bar");
		
		if (status == "first") {
			progressBar.style.width = "25%";
			progressBar.setAttribute("aria-valuenow", "25" );
			document.querySelector("#pills-step1-tab").classList.add("active");
		} else if (status == "second") {
			progressBar.style.width = "50%";
			progressBar.setAttribute("aria-valuenow", "50");
			document.querySelector("#pills-step2-tab").classList.add("active");
		} else if (status == "third") {
			progressBar.style.width = "75%";
			progressBar.setAttribute("aria-valuenow", "75");
			document.querySelector("#pills-step3-tab").classList.add("active");
		}
    else if (status == "fourth") {
			progressBar.style.width = "100%";
			progressBar.setAttribute("aria-valuenow", "100");
			document.querySelector("#pills-step4-tab").classList.add("active");
		}
		});
	  </script>
        <div>
          {% if user_application.status == "first" %}
          <div style="margin-left: 200px; margin-top: 20px;"></div>
            <h1>Ваша заявка отправлена, ожидайте ответа HR</h1>
          </div>
          {% elif user_application.status == "second" %}
            <div style="margin-left: 213px; margin-top: 20px;">
              <p>Собеседование состоится {{datetime}}</p>
                <p>Ссылка на собеседование:</p>
                <a href="{{link}}">{{link}}</a>
            </div>
          {% elif user_application.status == "third" %}
            <div style="margin-top: px; margin-left: 0px;">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="margin-bottom: 5px; margin-top: 30px;">Список необходимых документов:</h4>
                    <div class="card" style="width: 112 0px; height: 350px;">
                      <div class="card-body">
                        <form method="post" action="{% url 'userApplication' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          {% for obj in check_list %}
                            <div style="display: flex; align-items: center;">
                              <label style="margin-bottom: 15px; width: 800px;">
                                <input type="checkbox" name="checklist" value="{{ obj.id }}" {% if obj.status %}checked{% endif %} {% if obj.disabled %}disabled{% endif %} onchange="toggleInput(event, this)">
                                {{ obj.name }}
                              </label>
                              <input class="file-input" type="file" name="doc_input" {% if obj.status %}style="margin-left: 10px; flex-shrink: 0;"{% else %}style="display: none;"{% endif %}>                            
                            </div>  
                          {% endfor %}
                          <button style="position: absolute; top:360px; left: 0px;" type="button" class="btn btn-primary" onclick="submitForm()">Сохранить</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <script>
              window.addEventListener('DOMContentLoaded', (event) => {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(function(checkbox) {
                  toggleInput(null, checkbox);
                });
              });
            
              function toggleInput(event, checkbox) {
                var input = checkbox.parentNode.nextElementSibling;
                if (checkbox.checked) {
                  input.style.display = "none";
                } else {
                  input.style.display = "block";
                }
              }
              
              function submitForm() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(function(checkbox) {
                  toggleInput(null, checkbox);
                });
                document.forms[0].submit();
              }
            </script>
            
          {% elif user_application.status == "fourth" %}  
            {% if rating %}
              <p style="margin-left: 213px; margin-top: 30px;">Поздравляем, ваша релокация завершена</p>
            {% else %}
              <style>
                textarea{
                  width: 215px;
                }
                select{
                  margin-top: 10px;
                  margin-bottom: 10px;
                  width: 152px;
                }
              </style>
              <div style="margin-left: 212px; margin-top: 20px;">
                <p style="margin-bottom: 6px;">Пожалуйста, добавьте отзыв</p>
                <form method="post">
                  {% csrf_token %}
                  {{ review_form.as_p }}
                  <button style="width: 215px;" class="btn btn-primary" type="submit">Отправить</button>
                </form> 
              </div>
            {% endif %}         
          {% else %}
              <p>Статус неизвестен</p>
          {% endif %}
        </div>
    {% endif %}  
</div>

{% endblock %}