{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'main/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<style>
		html, body {
	background-color: #d9e7ef;
	}
	</style>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href=#><div class="logo"></div></a></li>
			<li><a href="{% url 'userProfile' %}">Профиль</a></li>
			<li><a href="{% url 'userApplication' %}">Заявка</a></li>
            <li><a href="{% url 'userRelocatedEmployees' %}">Релоцированные сотрудники</a></li>
			<li><a href="{% url 'userNews' %}">Новости</a></li>
			<li class="last"><a href="{% url 'logout_view' %}">Выход</a></li>
			{% if user.is_authenticated %}
				{% if new_username_len == 0 %}
					<li class="last"><a href="{% url 'userAccount' %}">Добро пожаловать {{ user.username }}</a></li>
				{% else %}
					<li class="last"><a href="{% url 'userAccount' %}">Добро пожаловать {{ new_username.first_name }}</a></li>
				{% endif %}	
			{% else %}	
				<li class="last"><a href="{% url 'userAccount' %}">Добро пожаловать {{ user.username }}</a></li>	
			{% endif %}	
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<div class="content-div" style="height: 601px !important;">
	
	{% block application %}
	{% endblock %}
	
	{% block profile %}
	{% endblock %}
	
	{% block relocatedEmployees %}
	{% endblock %}

	{% block news %}
	{% endblock %}

	{% block account %}
	{% endblock %}
</div>

<!-- <div id="footer">
	<p>Футер</p>
</div> -->

</body>
</html>





