{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'main/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href=#><div class="logo"></div></a></li>
			<li><a href="{% url 'userProfile' %}">Профиль</a></li>
            <li><a href="{% url 'userRelocatedEmployees' %}">Релоцированные сотрудники</a></li>
            <li><a href="{% url 'userApplication' %}">Заявка</a></li>
			{% if user.is_authenticated %}
				<li class="last">Добро пожаловать {{ user.username }}</li>
			{% else %}	
				<li class="last">Добро пожаловать {{ user.username }}</li>
			{% endif %}	
			<li class="last"><a href="{% url 'logout_view' %}">Выход</a></li>
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<div class="content-div">
	{% block application %}
	{% endblock %}
	
	{% block profile %}
	{% endblock %}
	
	{% block relocatedEmployees %}
	{% endblock %}
</div>

<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>Футер</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
