{% extends 'main/user/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block profile %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
<style>
    #btn1 a {
        background-color: #d9e7ef !important;
        color: #d9e7ef;
        margin-left: 707px;
    }
    h4{
        text-align: center;
    }
    .alert.alert-info {
        color: #d9e7ef;
        background-color: #d9e7ef;
        border-color: #d9e7ef;
    }
    input[type="date"] {
        width: 181px;
    }
    select{
        width: 181px;
    }
</style>

    {% if personal_info_len == 0 %}
        <div class="template-div" style="background-color: #d9e7ef !important;">
            <form action="{% url 'userProfile' %}" method="post">
              {% csrf_token %}
              <div class="alert alert-info">{{ form.non_field_errors }}</div>
              {% for f in form %}
              <div class="form-group">
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>
                {{ f }}
                <div class="invalid-feedback">{{ f.errors }}</div>
              </div>
              {% endfor %}
              <button style="width: 337px; margin-bottom: 174px;" type="submit" class="btn btn-primary">Добавить</button>
            </form>   
          </div>
        {% else %}   
        <div style="margin-left: 100px !important; margin-right: 100px; " >
            <div id="myTabContent" class="tab-content" >
                <hr>
                 <div class="tab-pane fade active in" id="detail">
                 <h4>Ваш профиль</h4>
                 <table class="table table-th-block">
                 <tbody>
                 <tr><td class="active">Имя:</td><td>{{personal_info.0.first_name}}</td></tr>
                 <tr><td class="active">Фамилия:</td><td>{{personal_info.0.last_name}}</td></tr>
                 <tr><td class="active">Отчество:</td><td>{{personal_info.0.middle_name}}</td></tr>
                 <tr><td class="active">Пол:</td><td>
                     
                     {% if personal_info.0.gender == "male" %}
                         мужской
                     {% else %}
                         женский
                     {%endif%}
                     </td></tr>
                 <tr><td class="active">Дата рождения:</td><td>{{personal_info.0.date_of_birth}}</td></tr>
                 <tr><td class="active">Стаж работы:</td><td>{{personal_info.0.work_experience}}</td></tr>
                 <tr><td class="active">Доджность:</td><td>{{personal_info.0.position}}</td></tr>
                 <tr><td class="active">Ставка:</td><td>{{personal_info.0.rate}}</td></tr>
                 <tr><td class="active">Адрес электронной почты:</td><td>{{personal_info.0.email}}</td></tr>
                 <tr><td class="active">Номер телефона:</td><td>{{personal_info.0.phone_number}}</td></tr>
                 </tbody>
                 </table>
                 <button style="position:absolute; left: 100px; " class="btn btn-primary" type="submit" name="btn-fourth">Редактировать</button>
                 </div>
                 <div class="tab-pane fade" id="contact">
                 <p></p>
                 </div>
            </div>
        </div>
        {%endif%}
{% endblock %}
















