{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'main/css/profile.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'main/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<style>
		html, body {
	background-color: #d9e7ef;
	}
	</style>

{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href=#><div class="logo"></div></a></li>
			<li><a href="{% url 'hrApplications' %}">Заявки</a></li>
			<li><a href="{% url 'hrNews' %}">Новости</a></li>
			<li class="last"><a href="{% url 'logout_view' %}">Выход</a></li>
			{% if user.is_authenticated %}
				{% if not user.first_name %}
					<li class="last">Добро пожаловать {{ user.username }}</li>
				{% else %}	
					<li class="last">Добро пожаловать {{ user.first_name }}</li>
				{% endif %}
			{% endif %}	
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


	<div class="content-div" style="height: 601px !important;">
		{% block applications %}
		{% endblock %}
		
		{% block userPage %}
		{% endblock %}

		{% block news %}
		{% endblock %}

		{% block profile %}
		{% endblock %}
	</div>
	
	<!-- <div id="footer">
		<p>Футер</p>
	</div> -->
</body>
</html>
